<div class="d-flex justify-content-center mt-2">
  <mat-card style="background-color: #D9D9D9; max-width: 400px;">
    <mat-card-header class="d-flex justify-content-center h6">Edytuj wydarzenie</mat-card-header>
    <mat-card-content>
      <div class="mt-2" [formGroup]="editEventForm">
        <mat-form-field class="shape-container" appearance="outline">
          <mat-label>Nazwa</mat-label>
          <input matInput formControlName="eventName"/>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventName')?.hasError('maxlength') && editEventForm.get('eventName')?.touched">
          Maksymalna długość to 50.
        </mat-error>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventName')?.hasError('required') && editEventForm.get('eventName')?.touched">
          Nazwa jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Kategoria</mat-label>
          <mat-select matInput formControlName="eventCategory">
            <mat-option *ngFor="let item of categories" [value]="item">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventCategory')?.hasError('required') && editEventForm.get('eventCategory')?.touched">
          Kategoria jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Data</mat-label>
          <input matInput readonly [matDatepicker]="releasedAtPicker" formControlName="eventDate" [min]="todaysDate" (click)="releasedAtPicker.open()"/> <!---------------------------------------------------------------------->
          <mat-datepicker-toggle matSuffix [for]="releasedAtPicker" >
          </mat-datepicker-toggle>
          <mat-datepicker #releasedAtPicker>
          </mat-datepicker>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventDate')?.hasError('required') && editEventForm.get('eventDate')?.touched">
          Data jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Ilość miejsc</mat-label>
          <input matInput formControlName="eventMaxParticipants" type="number" onkeydown="return ![69, 188, 189, 190].includes(event.keyCode)" [min]="0" [step]="1" pattern="^[0-9]*$" />
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventMaxParticipants')?.hasError('required') && editEventForm.get('eventMaxParticipants')?.touched">
          Ilość miejsc jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Lokalizacja</mat-label>
          <input matInput formControlName="eventLocation"/>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventLocation')?.hasError('maxlength') && editEventForm.get('eventLocation')?.touched">
          Maksymalna długość to 50.
        </mat-error>
        <mat-error class="ms-2"
                   *ngIf="editEventForm.get('eventLocation')?.hasError('required') && editEventForm.get('eventLocation')?.touched">
          Lokalizacja jest wymagana.
        </mat-error>
        <div class="d-flex justify-content-center mt-3">
          <div style="position: relative;">
            <button mat-raised-button color="primary" [disabled]="disabledEditEvent()" (click)="onEditEventClick()">
              Edytuj
            </button>
            <mat-spinner *ngIf="isLoading" diameter="20"
                         style="position: absolute; right: -25px; top: 50%; transform: translateY(-50%);"></mat-spinner>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
