<div class="d-flex justify-content-center mt-2">
  <mat-card style="background-color: #D9D9D9; max-width: 400px;">
    <mat-card-header class="d-flex justify-content-center h6">Nowe wydarzenie</mat-card-header>
    <mat-card-content>
      <div class="mt-2" [formGroup]="newEventForm">
        <mat-form-field class="shape-container" appearance="outline">
          <mat-label>Nazwa</mat-label>
          <input matInput formControlName="eventName"/>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventName')?.hasError('maxlength') && newEventForm.get('eventName')?.touched">
          Maksymalna długość to 50.
        </mat-error>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventName')?.hasError('required') && newEventForm.get('eventName')?.touched">
          Nazwa jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Kategoria</mat-label>
          <mat-select matInput formControlName="eventCategory">
            <mat-option *ngFor="let item of categories" [value]="item">{{ item }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventCategory')?.hasError('required') && newEventForm.get('eventCategory')?.touched">
          Kategoria jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker"/> <!---------------------------------------------------------------------->
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventDate')?.hasError('required') && newEventForm.get('eventDate')?.touched">
          Data jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Ilość miejsc</mat-label>
          <input matInput formControlName="eventMaxParticipants" type="number" pattern="^[0-9]*$" />
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventMaxParticipants')?.hasError('required') && newEventForm.get('eventMaxParticipants')?.touched">
          Ilość miejsc jest wymagana.
        </mat-error>
        <mat-form-field class="shape-container mt-3" appearance="outline">
          <mat-label>Lokacja</mat-label>
          <input matInput formControlName="eventLocation"/>
        </mat-form-field>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventLocation')?.hasError('maxlength') && newEventForm.get('eventLocation')?.touched">
          Maksymalna długość to 50.
        </mat-error>
        <mat-error class="ms-2"
                   *ngIf="newEventForm.get('eventLocation')?.hasError('required') && newEventForm.get('eventLocation')?.touched">
          Miejsce jest wymagane.
        </mat-error>
        <div class="d-flex justify-content-center mt-3">
          <div style="position: relative;">
            <button mat-raised-button color="primary" [disabled]="disabledCreateEvent()" (click)="onCreateEventClick()">
              Utwórz
            </button>
            <mat-spinner *ngIf="isLoading" diameter="20"
                         style="position: absolute; right: -25px; top: 50%; transform: translateY(-50%);"></mat-spinner>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
