
<div class="event-container" style="margin-left: 75px; margin-top: 10px;">
  <div class="event-details" style=" margin-bottom: 40px">
    <h3 style="margin-bottom: 30px;"><strong>{{currentEvent?.name}}</strong></h3>
    <p><strong>Data: </strong>{{currentEvent?.date}}</p>
    <p><strong>Kategoria: </strong>{{currentEvent?.category}}</p>
    <p><strong>Ilość uczestników: </strong>{{currentParticipants + "/" + currentEvent?.participantNumber}}</p>
    <p><strong>Miejsce: </strong>{{currentEvent?.location}}</p>
  </div>
  <button id="signup-button" [disabled]="isLoggedIn" (click)="onSignUpClick()">Zapisz się</button>
</div>

