.button-container {
  display: flex;

}

.rounded-button {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 50px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 1.25px;
  font-weight: 500;
  display: block;
  text-align: center;
  height: 36px;
  width: 180px;
  box-sizing: border-box;
  padding-bottom: 33px;
}

.highlightTableColor {
  background-color: gray;
}

.dark .mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled {
  cursor: default;
  pointer-events: none;
  color: gray;
  background-color: white;
}

.light .mat-mdc-raised-button[disabled], .mat-mdc-raised-button.mat-mdc-button-disabled{
  cursor: default;
  pointer-events: none;
  color: black;
  background-color: lightgray;
}

.shadowed-paginator {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15), -2px 2px 5px rgba(0, 0, 0, 0.15);
}
