<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d58ccc3d-b43c-4209-bc65-98ba01d71090/resourcegroups/WebApi20240301083830ResourceGroup/providers/Microsoft.Web/sites/WebApi20240301083830</ResourceId>
    <ResourceGroup>WebApi20240301083830ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/d58ccc3d-b43c-4209-bc65-98ba01d71090/resourceGroups/WebApi20240301083830ResourceGroup/providers/Microsoft.ApiManagement/service/WebApiApiPFOE/apis/WebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20240301083830.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>93cdb2f7-6b6d-4045-ae6a-177344a7bb74</ProjectGuid>
    <MSDeployServiceURL>webapi20240301083830.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebApi20240301083830</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebApi20240301083830</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>